.complaint-table-container {
  overflow: hidden;
  width: 100%;
}

.complaint-table-wrapper {
  overflow-x: auto;
  max-height: 400px; 
}

.complaint-fixed-header thead th {
  position: sticky;
  top: 0;
  background-color: white; 
  z-index: 1;
  border: 1px solid #000;
  padding: 8px;
}

.complaint-fixed-header {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.complaint-fixed-header th, .complaint-fixed-header td {
  border: 1px solid #000;
  padding: 8px;
  min-width: 100px;
  white-space: nowrap;
}

.complaint-fixed-header td {
  background-color: rgb(154, 204, 240);
  white-space: normal; 
  height: auto; 
}

.complaint-fixed-header td:first-child,
.complaint-fixed-header th:first-child {
  background-color: white; 
  position: sticky;
  left: 0;
  z-index: 2;
}

