.maintenance-table-container {
    overflow: hidden;
    width: 100%;
}

.maintenance-table-wrapper {
    overflow-x: auto;
    max-height: 400px;
}

.maintenance-fixed-header thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    border: 1px solid #000;
    padding: 8px;
}

.maintenance-fixed-header {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

.maintenance-fixed-header th, .maintenance-fixed-header td {
    border: 1px solid #000;
    padding: 8px;
    min-width: 150px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden; 
    height: 60px;
}

.maintenance-fixed-header td {
    background-color: rgb(154, 204, 240);
}

.maintenance-fixed-header td:first-child {
    background-color: white;
}

.maintenance-fixed-header th:first-child {
    background-color: white;
    position: sticky;
    left: 0;
    z-index: 2;
}
